
.list-item {
    list-style-type: none;
    max-width: 454px;
    max-height: 281px;
    display: flex;
    font-size: 12px;
    line-height: 22px;
    margin-bottom: 34px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.list-item p {
    white-space: pre-line;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}

.list-item img {
    max-width: 40%;
    height: 281px;
}
.item-descriptions {
    padding: 12px 20px;
}
.list-item h1 {
    font-size: 20px;
    line-height: 28px;
}
.date {
    display: block;
    color: #827E7E;
    margin-bottom: 7px;
}
.drama-elements {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 5px;
}
.drama {
    white-space: nowrap;
    border: 1px solid rgba(217, 217, 217, 1);
    padding: 2px 5px;
    margin-right: 8px;
    margin-bottom: 7px;
    border-radius: 2px;
    color: rgba(0, 0, 0, 0.65);
    background-color: #FAFAFA;
}